.banner{
    background-color: #D8D4AE;
    position: relative;
    padding: 64px 0;

}

.banner .container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 24px;
    padding-right: 24px;

}

.banner .row{
    display: flex; 
    justify-content: center;
    width: 100%;
    align-items: center;
}

.banner .image{
    width: 50%;
}

.banner .content{
    width: 50%;
}

.banner .headline{
    font-size: 42px;
    
}

.banner .subline{
    font-size: 23px;
    margin-bottom: 42px;

}

.banner .button{
    display: inline-block;
    text-decoration-line: none;
    color: #ffff;
    font-weight: bold;
    padding: 8px 24px;
    background-color: #964B00;
    border-radius: 10px;


}